
.badi{
    color: rgb(49, 49, 126); 
}
.content{
    background-color: rgb(198, 245, 229);
    
    font-size: 1rem;
    font-weight: 500;

  
    
    .title{
        font-size: 2rem;
        box-shadow: 0 0 5px white;
        color: rgb(57, 57, 139);
    }
}